@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&display=swap'); /*Títulos*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap'); /*Cuerpo*/
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap'); /*Links*/

body{
    background-color: #f6f4f3;
    font-family: Cormorant Garamond;
    
}

* h1{
    font-family: Alkatra;
}

a{
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-family: Kani;
}

nav .navegacion-container a:hover{
    color: brown;
    font-size: 1.2rem;
}



header{
    display: flex;
    margin: 50px;
    width: auto;
    height: 90px;
    border-bottom: 2px solid black;
}

header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
 }

.logo-container img{
    height: 60%;
    width: 60%;
}

header nav .navegacion-container{
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navegacion-container ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

main{
    margin: 50px;
    height: auto;
    width: auto;
}

footer .icons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
    height: 70px;
    border-top: 2px solid black;
    
}

footer .icons-container span{
    color:black
}

/*Para lo del inicio*/

.inicio-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
}

.imgSlogan-container{
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
}

.imgSlogan-container img{
    height: 300px;
    width: 900px;
}

.inicio-container .imgSlogan-container{
    position: relative;
}

.inicio-container .textoA{
    position: absolute;
    top: 70%; /* Centrar el texto verticalmente */
    left: 35%; /* Centrar el texto horizontalmente */
    transform: translate(-50%, -50%); /* Centrar el texto con transformaciones */
    z-index: 1; /* Establecer el índice z para que el texto se superponga a la imagen */
    color: black; /* Establecer color del texto */
    font-size: 1.3rem; /* Establecer tamaño de fuente del texto */
    text-align: start; /* Centrar el texto horizontalmente */
    color: white;
}



/* Para la tabla (BLOG) */
.tabla td{
    padding: 10px;
}
.tabla h3{
    font-size: 18px; font-weight: bold;
}
.tabla p{
    font-size: 14px;
}
.limitadorImg{
    width: 250px;
    height: 200px;
}

/*Para la pestaña de sevicios*/

.serviciosDes-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descripcion-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -40px;
    height: auto;
    width: 80%;
    border-bottom: 2px solid black;
}

.services-container{
    background-color: white;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 80%;
    
}

.serviciosIMG-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    height: 100%;
    width: 100%;
    margin: 20px;
    gap: 15px;
}

.serviciosIMG-container img{
    height: 100%;
    width: 100%;
    justify-self: center;
}

.serviciosIMG-container .itemG{
    position: relative;
}

.texto{
    background-color: #E7FDFF ;
    opacity: .7;
}

.serviciosIMG-container .itemG .texto{
    position: absolute;
    top: 80%; /* Centrar el texto verticalmente */
    left: 50%; /* Centrar el texto horizontalmente */
    transform: translate(-50%, -50%); /* Centrar el texto con transformaciones */
    z-index: 1; /* Establecer el índice z para que el texto se superponga a la imagen */
    color: black; /* Establecer color del texto */
    font-size: 1.5rem; /* Establecer tamaño de fuente del texto */
    text-align: center; /* Centrar el texto horizontalmente */
}

.item-1{
    grid-row-start: 1;
    grid-row-end: 4;
}

.item-2{
    grid-row: 1;
    grid-column: 2;
}

.item-3{
    grid-row: 1;
    grid-column: 3;
}

.item-4{
    grid-row: 2;
    grid-column: 2;
}

.item-5{
    grid-row: 2;
    grid-column: 3;
}

.item-6{
    grid-row: 3;
    grid-column: 2;
}

.item-7{
    grid-row: 3;
    grid-column: 3;
}